[Desktop Entry]
Name=Earth-Light-ChromeOs
X-KDE-PluginInfo-Name=Earth-Light-ChromeOs
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
